flows/Deploy_Data_Set.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Deploy_Data</name>
        <label>Deploy Data</label>
        <locationX>744</locationX>
        <locationY>1467</locationY>
        <actionName>DeployDataAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_Finish_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Flow_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationCredentialId</name>
            <value>
                <elementReference>Destination_Credential_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>ENVIRONMENT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>deployNow</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceDataSetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceType</name>
            <value>
                <stringValue>DATASET</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>DeploymentId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Validate_Destination_Org_Credentials</name>
        <label>Validate Destination Org Credentials</label>
        <locationX>746</locationX>
        <locationY>1046</locationY>
        <actionName>ValidateOrgAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Destination_Org_Is_Valid</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Flow_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgId</name>
            <value>
                <elementReference>Destination_Credential_Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Is_Valid_Destination_Org</assignToReference>
            <name>isValidOrg</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Validate_Source_Org_Credentials</name>
        <label>Validate Source Org Credentials</label>
        <locationX>747</locationX>
        <locationY>627</locationY>
        <actionName>ValidateOrgAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Source_Org_Is_Valid</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Flow_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgId</name>
            <value>
                <elementReference>Source_Credential_Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Is_Valid_Source_Org</assignToReference>
            <name>isValidOrg</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Check_Destination_Org_Is_Valid</name>
        <label>Check Destination Org Is Valid</label>
        <locationX>738</locationX>
        <locationY>1237</locationY>
        <defaultConnector>
            <targetReference>Destination_Org_Not_Valid_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Destination Org Is Not Valid</defaultConnectorLabel>
        <rules>
            <name>Destination_Org_Is_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Valid_Destination_Org</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deploy_Data</targetReference>
            </connector>
            <label>Destination Org Is Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Source_Org_Is_Valid</name>
        <label>Check Source Org Is Valid</label>
        <locationX>739</locationX>
        <locationY>813</locationY>
        <defaultConnector>
            <targetReference>Source_Org_Not_Valid_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Source Org Is Not Valid</defaultConnectorLabel>
        <rules>
            <name>Source_Org_Is_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Valid_Source_Org</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Destination_Org_Credentials</targetReference>
            </connector>
            <label>Source Org Is Valid</label>
        </rules>
    </decisions>
    <description>Flow to deploy Data Set (records from attachments) to the selected destination org.</description>
    <formulas>
        <name>CurrentOrgSFDCOrgId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$Organization.Id}) &amp; &apos;_&apos; &amp; CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>Deployment_Object_Api_Name</name>
        <dataType>String</dataType>
        <expression>{!Namespace} &amp; &apos;Deployment__c&apos;</expression>
    </formulas>
    <formulas>
        <name>From_Org_Field_Api_Name</name>
        <dataType>String</dataType>
        <expression>{!Namespace} &amp; &apos;From_Org__c&apos;</expression>
    </formulas>
    <interviewLabel>Deploy Data Set {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deploy Data Set</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Current_Org</name>
        <label>Get Current Org</label>
        <locationX>747</locationX>
        <locationY>488</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Source_Org_Credentials</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Flow_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SFDC_Org_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOrgSFDCOrgId</elementReference>
            </value>
        </filters>
        <object>Org__c</object>
        <outputAssignments>
            <assignToReference>Source_Credential_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Deploy_Data_Set</name>
        <label>Deploy Data Set</label>
        <locationX>747</locationX>
        <locationY>329</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Current_Org</targetReference>
        </connector>
        <fields>
            <name>Deploy_Data_Set_Help_Text</name>
            <fieldText>&lt;p&gt;{!$Label.Deploy_Data_Set_Help_Text}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Destination_Credential</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <elementReference>From_Org_Field_Api_Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Destination Environment Credential</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>Deployment_Object_Api_Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Destination_Credential_Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Destination_Credential_Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Destination_Org_Not_Valid_Screen</name>
        <label>Destination Org Not Valid</label>
        <locationX>390</locationX>
        <locationY>1235</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Destination_Org_Not_Valid_Message</name>
            <fieldText>&lt;p&gt;{!Destination_Org_Not_Valid_Template}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Source_Org_Not_Valid_Screen</name>
        <label>Source Org Not Valid</label>
        <locationX>390</locationX>
        <locationY>810</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Source_Org_Not_Valid_Message</name>
            <fieldText>&lt;p&gt;{!Source_Org_Not_Valid_Template}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>621</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Namespace</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Namespace</name>
        <label>Get Namespace</label>
        <locationX>747</locationX>
        <locationY>194</locationY>
        <connector>
            <targetReference>Deploy_Data_Set</targetReference>
        </connector>
        <flowName>Get_Namespace</flowName>
        <outputAssignments>
            <assignToReference>Namespace</assignToReference>
            <name>Namespace</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Handle_Flow_Fault</name>
        <label>Handle Flow Fault</label>
        <locationX>1293</locationX>
        <locationY>948</locationY>
        <flowName>Handle_Flow_Fault</flowName>
        <inputAssignments>
            <name>Error_Message_Detail</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Show_Finish_Message</name>
        <label>Show Finish Message</label>
        <locationX>744</locationX>
        <locationY>1648</locationY>
        <flowName>Show_Deployment_Executed_Message</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>DeploymentId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>Destination_Org_Not_Valid_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The File Deployment execution could not start because the Data Destination Environment is not authenticated.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please&amp;nbsp;&lt;a href=&quot;/{!Destination_Credential_Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;authenticate the Environment&lt;/a&gt;&amp;nbsp;and try again.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Source_Org_Not_Valid_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The File Deployment execution could not start because the Data Source Environment is not authenticated.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please&amp;nbsp;&lt;a href=&quot;/{!Source_Credential_Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;authenticate the Environment&lt;/a&gt;&amp;nbsp;and try again.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>DeploymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Destination_Credential_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Is_Valid_Destination_Org</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Is_Valid_Source_Org</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Namespace</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of the Data Set from the context.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Source_Credential_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
